/*
! Можно удалить (внешний вид кнопок)
*/
button {
    font-weight: 600;
    font-size: 16px;
    height: 60px;
    width: 240px;
    border-radius: 50px;
    color: #ffffff;
    background: linear-gradient(180deg, #81B5FF 0%, #4A83DF 100%);
    text-shadow: 0 1px 2px #28477597;
    box-shadow: 0 2px 0 0 #31568d;
    border: none;
    margin: 10px 5px;
    outline: none !important;
    cursor: pointer;
}
/*
! А это важные стили
*/
// * Переменные
$cursor-diameter: 45px;
$cursor-effect-center: translate(-50%, -50%);
$cursor-effect-z-index: 1000000;

// Массив с ключевыми словами эффектов
$cursorClickEffectNames:
// Для покупки
'money', // 1
'gems', // 2
// Для такси
'wheel', // 3
'speedometer', // 4
'teleport', // 5
'screws', // 6
'spray', // 7
'up', // 8
// Для добычи руды
'cracks', // 9
'ore'; // 10

// * ``` Миксины ```
// Для однотипных анимаций
@mixin cursor-click-effect-smooth-removing() {
    0%, 100% {opacity: 0;}
    20%, 80% {opacity: 1;}
}
// Для эффекта "дождя"
@mixin cursor-click-effect-rain($imageIndex) {
    $imageName: nth($cursorClickEffectNames, $imageIndex);
    0%, 100% {
        background-image: url('cursor-click-effect--#{$imageName}.png');
        transform: $cursor-effect-center scale(0);
        opacity: 0;
    }
    50% {
        transform: $cursor-effect-center scale(1.4);
        opacity: 1;
    }
    60% {
        transform: $cursor-effect-center scale(.4);
        opacity: .4;
    }
}
// Для применения анимации
@mixin cursor-click-effect-animation($effectName) {
    animation: cursor-click-effect-#{$effectName} 1s infinite;
}

// * ``` Анимации ```
// * Для покупки
@keyframes cursor-click-effect-money { 
    @include cursor-click-effect-rain(1);
}
@keyframes cursor-click-effect-gems {
    @include cursor-click-effect-rain(2);
}

// * Для такси
@keyframes cursor-click-effect-wheel {
    @include cursor-click-effect-smooth-removing();
    0%, 100% {
        background-image: url('cursor-click-effect--wheel.png');
    }
    0% {
        transform: $cursor-effect-center rotate(-360deg);
    }
}

// Три для спидометра
@keyframes cursor-click-effect-speedometer {
    @include cursor-click-effect-smooth-removing();
    0%, 100% {background-image: url('cursor-click-effect--speedometer.png');}
}
@keyframes cursor-click-effect-speedometer-1 {
    0%, 100% {
        background-image: url('cursor-click-effect--speedometer-string.png');
        transform: $cursor-effect-center rotate(0deg)
    }
    50% {
        transform: $cursor-effect-center rotate(240deg)
    }
}
@keyframes cursor-click-effect-speedometer-2 {
    80% {
        background-image: url('cursor-click-effect--speedometer-energy.png');
        opacity: 1;
    }
    50% {
        transform: $cursor-effect-center rotate(-1440deg);
    }
    0%, 100% {
        opacity: 0;
    }
}

// Две для телепорта
@keyframes cursor-click-effect-teleport {
    @include cursor-click-effect-smooth-removing();
    0%, 100% {background-image: url('cursor-click-effect--teleport-frame.png'); transform: $cursor-effect-center scale(1.2)}
}
@keyframes cursor-click-effect-teleport-1 {
    @include cursor-click-effect-smooth-removing();
    0%, 100% {
        background-image: url('cursor-click-effect--teleport.png');
    }
    0% {
        transform: $cursor-effect-center rotate(-360deg);
    }
}
// * Для добычи руды

@keyframes cursor-click-effect-screws {
    @include cursor-click-effect-rain(6);
}
// Две для спрея
@keyframes cursor-click-effect-spray {
    @include cursor-click-effect-smooth-removing();
    0%, 100% {
        background-image: url('cursor-click-effect--spray-picture.png');
        transform: $cursor-effect-center scale(1.8);
    }
}
@keyframes cursor-click-effect-spray-1 {
    0%, 100% {
        background-image: url('cursor-click-effect--spray.png');
        transform: $cursor-effect-center rotate(-10deg) translateX(-70%);
        opacity: 0;
    }
    10%, 90% {opacity: 1;}
    50% {transform: $cursor-effect-center rotate(-10deg) translateX(70%);}
}

@keyframes cursor-click-effect-up {
    @include cursor-click-effect-smooth-removing();
    0%, 100% {background-image: url('cursor-click-effect--up.png');}
    0% {transform: $cursor-effect-center translateY(50%)}
}

// * Для добычи руды
@keyframes cursor-click-effect-cracks {
    @include cursor-click-effect-smooth-removing();
    0%, 100% {background-image: url('cursor-click-effect--cracks.png'); transform: $cursor-effect-center scale(1.4)}
}
@keyframes cursor-click-effect-ore {
    @include cursor-click-effect-rain(10);
}

// * ``` Основной миксин ```
@mixin cursor-click-effect-basic-styles($z-index-term) {
    z-index: $cursor-effect-z-index+$z-index-term;
    position: fixed;
    width: $cursor-diameter;
    height: $cursor-diameter;
    transform: $cursor-effect-center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;

    &--inactive {display: none;}
}
.cursor-click-effect {
    @include cursor-click-effect-basic-styles(0);
    &--active {
        display: block;
        // Создаем селекторы для каждого эффекта из массива
        @each $effectName in $cursorClickEffectNames {
            &-#{$effectName} {
            @include cursor-click-effect-animation($effectName);
            }
        }
    }
    &-1 {
        @include cursor-click-effect-basic-styles(1);
        &--active {
            &-wheel {
                $cursor-diameter: 70px;
                width: $cursor-diameter;
                height: $cursor-diameter;
                animation: cursor-click-effect-wheel-1 1s infinite;
            }
            &-speedometer {
                animation: cursor-click-effect-speedometer-1 1s infinite;
            }
            &-teleport {
                animation: cursor-click-effect-teleport-1 1s infinite;
            }
            &-spray {
                animation: cursor-click-effect-spray-1 1s infinite;
            }
        }
    }
    &-2 {
        @include cursor-click-effect-basic-styles(2);
        &--active {
            &-speedometer {
                $cursor-diameter: 75px;
                width: $cursor-diameter;
                height: $cursor-diameter;
                animation: cursor-click-effect-speedometer-2 1s infinite;
            }
        }
    }
}