$thumbHeight: 40px;
$scrollbarWidth: 24px;
$scrollbarThumbSmokeWidth: 28px;

body {
    margin: 0;
    overflow: hidden; /* Отключаем стандартный скроллбар */
    padding-right: $scrollbarWidth;

}
::-webkit-scrollbar {
    height: 0;
    width: 0;
}


#content {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto; /* Включаем прокрутку внутри контейнера */
}

.scrollbar {
    position: fixed;
    right: 0;
    top: 0;
    width: $scrollbarWidth;
    height: 100vh;
    background-image: url('scrollbar-bg.png');
    background-position: center;
    background-size: contain;
    background-repeat: repeat;

    &__thumb {
        position: absolute;
        top: 0;
        height: $thumbHeight;
        width: 100%;
        
        background-image: url('scrollbar-thumb.png');
        background-position: center;
        background-size: 80%;
        background-repeat: no-repeat;

        // Состояния полосы прокрутки
        &--scrolling {
            // Дымок за машинкой когда она едет
            &::before {
                content: '';
                transform: scaleY(-1);
                position: absolute;
                height: $scrollbarThumbSmokeWidth;
                width: 100%;
                top: -$scrollbarThumbSmokeWidth;
            }

            &-up {
                transform: scaleY(-1);
            }
            &-down {
                transform: scaleY(1);
            }
        }
    }
}

