$thumbHeight: 60px;
$scrollbarWidth: 30px;
$scrollbarThumbSmokeWidth: 28px;

@keyframes back-effect-after {
    50% {
        transform: 
            translateY(-15px)
            scaleY(.8)
    }
    100% {
        opacity: 0;
        transform: 
            scaleX(.8)
            translateY(-15px)
    }
}
@keyframes back-effect-before {
    0%, 100% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(0);
    }
}


body {
    margin: 0;
    overflow: hidden; /* Отключаем стандартный скроллбар */
    margin-right: $scrollbarWidth;

}
::-webkit-scrollbar {
    height: 0;
    width: 0;
}

#content {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto; /* Включаем прокрутку внутри контейнера */
}

.scrollbar {
    position: fixed;
    right: 0;
    top: 0;
    width: $scrollbarWidth;
    height: 100vh;
    background-image: url('scrollbar-bg.png');
    background-size: 100%;
    background-position: center;
    background-repeat: repeat;
    box-shadow: 0 0 6px 2px #0000009f;

    &__thumb {
        position: absolute;
        top: 0;
        height: $thumbHeight;
        width: 100%;
        background-image: url('scrollbar-thumb.png');
        background-position: center;
        background-size: 90%;
        background-repeat: no-repeat;

        // Эффекты сзади
        &::before,
        &::after {
            content: '';
            opacity: 0;
            position: absolute;
            height: $scrollbarThumbSmokeWidth;
            top: -$scrollbarThumbSmokeWidth + 10px;
            background-size: 100%;
            background-image: url('back-effect.png');
            width: 100%;
            background-position: center;
            background-repeat: repeat;
            transition: opacity .8s;
        }
        &::before {animation: back-effect-before .8s linear infinite}
        &::after {animation: back-effect-after .8s linear infinite}
        
        // Состояния полосы прокрутки
        &--scrolling {
            z-index: 1;
            &::before,&::after {opacity: 1;}
            // &::before {animation: back-effect-before .8s linear infinite}
            // &::after {animation: back-effect-after .8s linear infinite}

            // Направления
            &-up {
                transform: scaleY(-1);
            }
            &-down {
                transform: scaleY(1);
            }
        }
    }
}
